CREATE TABLE app_version_control ( id SERIAL PRIMARY KEY, latest_version_code INTEGER NOT NULL, latest_version_name TEXT NOT NULL, download_url TEXT NOT NULL, is_mandatory BOOLEAN DEFAULT true, release_notes TEXT ); INSERT INTO app_version_control (id, latest_version_code, latest_version_name, download_url, is_mandatory, release_notes) VALUES (1, 1, '1.0.0', 'https://expo.dev/accounts/expoappsdev/projects/mulazamahku', false, 'Versi awal');
